In [23]:
import pandas as pd

In [10]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [11]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST chromedriver version for 95.0.4638 google-chrome
Driver [C:\Users\sarah\.wdm\drivers\chromedriver\win32\95.0.4638.69\chromedriver.exe] found in cache

In [12]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Search for elements with a specific combination of tag div and attribute - Optional delay of waiting 1 minutes for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [13]:
# set-up HTML parser
html = browser.html
news_soup = soup(html, 'html.parser')
# The . is used for selecting classes, such as list_text, so the code 'div.list_text' pinpoints the <div /> tag with the class of list_text
slide_elem = news_soup.select_one('div.list_text')

In [14]:
# CSS works from right to left, such as returning the last item on the list instead of the first. Because of this, when using select_one, the first matching element returned will be a <li /> element with a class of slide and all nested elements within it.

In [15]:
# The specific data is in a <div /> with a class of 'content_title'
slide_elem.find('div', class_='content_title')

In [16]:
# Most recent title published on the website - Use the parent element to find the first `a` tag and save it as `news_title`. .get_text() returns only the title of the news article and not any of the HTML tags or elements
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"How NASA's Mars Helicopter Will Reach the Red Planet's Surface"

In [17]:
# to get the most recent article title, use find instead of find.all. find.all will give all titles, find will give most recent
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'

### Features Images

In [18]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [19]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [20]:
# Parse the resulting html with soup to scrape the full-size image URL
html = browser.html
img_soup = soup(html, 'html.parser')

In [21]:
# Find the relative image url for the most recent image by specifying the location
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars1.jpg'

In [22]:
# above code is only the second half of the code, need the first part of the url
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [24]:
# create a new datafram from the html table, read html searched and return a list of table found in html, index of 0 means pull only the first table
df = pd.read_html('https://galaxyfacts-mars.com')[0]
# assign columns to the new dataframe
df.columns=['description', 'Mars', 'Earth']
# turn description solumn into dataframe index
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [25]:
# easily convert the dataframe back into html-ready code
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
browser.quit()